@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --index: calc(1vw + 1vh);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.app {
  height: var(--tg-viewport-height);
  max-height: var(--tg-viewport-height);
  color: #fff;
  background-color: #333;
}

.window {
  padding: 3rem 0 1rem;
  position: fixed;
  width: 100%;
  height: calc(100% - 5rem);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}
.window.active {
  opacity: 1;
  pointer-events: auto;
}

.window__header {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  height: 3rem;
  padding: 0 1rem
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.mask {
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-type: alpha;
  -webkit-mask-type: alpha;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}



.energy-icon {
  width: 1rem;
  aspect-ratio: 1/1;
  background: #fff;
  margin-right: .2rem;
  mask-image: url(./assets/flash-thunder-svgrepo-com.svg);
  -webkit-mask-image: url(./assets/flash-thunder-svgrepo-com.svg);
}
.coin-icon {
  width: 2.4rem;
  aspect-ratio: 1/1;
  margin-right: .2rem;
  background: #fff;
  mask-image: url(./assets/copper-coin-svgrepo-com.svg);
  -webkit-mask-image: url(./assets/copper-coin-svgrepo-com.svg);
}








.score {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 34px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30dvh;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background: #acacac;
}
.coin-multiplier {
  position: absolute;
  transition: transform 1s, opacity 1s;
  color: #fff;
  font-weight: 600;
  pointer-events: none;
}

.energy {
  position: fixed;
  bottom: 8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  max-width: 16rem;
}

.energy-score {
  text-align: center;
  width: 100%;
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.energy-bar {
  width: 100%;
  height: 1.4rem;
  background: #fff;
  border-radius: 1.2rem;
  border: 3px solid #fff;
  overflow: hidden;
}
.energy-bar-fill {
  height: 100%;
  background: #222;
  border-radius: 1.2rem;
}

.nav {
  position: fixed;
  left: 0;  
  bottom: 1.2rem;
  width: 100%;
  height: 3.5rem;
  display: flex;
  padding: 0 1rem;
  gap: calc(1 * var(--index));
}

.nav-button {
  flex-grow: 1;
  font-size: calc(1 * var(--index));
  border: none;
  height: 100%;
  background: #acacac;
  color: #333;
  cursor: pointer;
  transition: background.2s ease-in-out;
  border-radius: 8px;
}


.screen__content {
  padding: 0 1rem;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.screen__content::-webkit-scrollbar {
  width: 0;
}



.boost-table {
  width: 100%;
  border-spacing: 0 .5rem;
}
.boost {
  margin: .4rem 0;
}
.boost__title {
  text-align: start;
}
.boost__button {
  width: 1px;
}
.boost__button button {
  padding: .5rem .8rem;
  width: 100%;
  border-radius: 4px;
  border: none;
  outline: none;
}

.stats p {
  margin: .4rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}