@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --index: calc(1vw + 1vh);
  --tg-viewport-height: 100vh;
  --tg-viewport-width: 100vw;
  --c-1: #0c1210;
  --c-2: #091e16;
  --c-3: #224d3d;
  --c-4: #00985ee9;
  --c-10: #ddad35;
  --o-1: rgba(255, 255, 255, 0.11);
  --o-2: rgba(0, 255, 157, 0.08);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*="icon"] {
  pointer-events: none;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

html {
  width: var(--tg-viewport-width);
  max-width: var(--tg-viewport-width);
  height: var(--tg-viewport-height);
  max-height: var(--tg-viewport-height);
}

body {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

button {
  outline: none;
  border: none;
}

.app {
  width: var(--tg-viewport-width);
  max-width: var(--tg-viewport-width);
  height: var(--tg-viewport-height);
  max-height: var(--tg-viewport-height);
  color: #fff;
  overflow: hidden;
  background: var(--c-1);
}

.loader {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--c-1);
  transition: opacity 0.5s linear;
  color: #fff;
}
.loader.hidden {
  opacity: 0;
  pointer-events: none;
}
.loader__spinner {
  width: 4rem;
  height: 4rem;
  margin-bottom: 0.4rem;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.background-image {
  width: 100%;
  height: 100%;
  background-image: url(./assets/image/background-1.jpg);
  background-position: 50% 78%;
  background-size: 250%;
  background-repeat: no-repeat;
  opacity: 10%;
}
.background-light {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 60vh;
  background: linear-gradient(0deg, transparent 0%, #07a4b7 50%, transparent 100%);
  transform: translate(-50%,-60%) rotate(-33deg);
  opacity: 12%;
  animation: lightBlink 12s linear infinite alternate;
  pointer-events: none;
}
@keyframes lightBlink {
  0% {
    opacity: 26%;
  }
  20% {
    opacity: 28%;
  }
  50% {
    opacity: 38%;
  }
  60% {
    opacity: 22%;
  }
  100% {
    opacity: 26%;
  }
}

/* BUTTONS */
.a-btn {
  border-radius: 6px;
  color: #fff;
  background: linear-gradient(123deg, #1b6546 0%, #539d7d 100%);
  display: inline-flex;
  justify-content: start;
  align-items: center;
}
.a-btn:disabled {
  background: #878787;
  filter: brightness(80%);
}
.a-btn:active:not(:disabled) {
  background: var(--c-4);
}

.b-btn {
  border-radius: 6px;
  outline: 1px solid rgba(255, 255, 255, 0.2);
  background: var(--o-1);
  padding: .5rem .7rem;
  display: inline-flex;
  justify-content: start;
  align-items: center;
}

.c-btn {
  border-radius: 4px;
  outline: 2px solid #00985e76;
  background: #1480634d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.c-btn::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(133deg, #dcdcdc 0%, #c3c3c3 28%, #dbdbdb 47%, #fff 65%, #767676 100%);
  border-radius: 4px;
  opacity: 20%;
}


* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}



.mask {
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-type: alpha;
  -webkit-mask-type: alpha;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.coin-icon {
  height: 1.1em;
  aspect-ratio: 1/1;
  display: inline-block;
  background-image: url(./assets/image/coin-icon.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.back-button {
  font-size: 2.6rem;
  display: flex;
  align-items: center;
}
.arrow {
  font-size: 1.55rem;
  float: right;
  font-weight: 200;
  line-height: 0.1;
  display: inline-block;
  transform: translate(10%, -46%);
}


.window {
  padding: 8.2rem 0 0;
  position: fixed;
  width: 100%;
  height: calc(100% - 6.4rem);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}
.window.active {
  opacity: 1;
  pointer-events: auto;
}

.window__header {
  position: absolute;
  top: 6.5rem;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: calc(100vw - 4rem);
  height: 2.3rem;
  max-height: 2.3rem;
  padding: .3rem;
  background: var(--c-2);
  border-radius: 6px;
  border: 1px solid var(--c-3);
  overflow: hidden;
}
.window__header-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: .66rem;
}
.window__header-item span {
  max-width: 70%;
  overflow: hidden;
}
.window__header-item-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: .2rem;
}
.window__header-item button {
  padding: .3rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 6px;
  font-size: .65rem;
  opacity: .8;
}
.window__header-item button img {
  width: 1rem;
  height: 1rem;
  margin: 0 .2rem 0 .1rem;
}

.window__title {
  font-size: .95rem;
  font-weight: 600;
  margin-bottom: 1.4rem;
  color: var(--c-10);
}

.window__content {
  position: relative;
  padding: 0 2rem;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.window__content::-webkit-scrollbar {
  width: 0;
}

.window__screen {
  display: none;
}
.window__screen.active {
  display: block;
}

.window__navigation {
  display: flex;
  align-items: center;
  width: calc(100% - 4rem);
  margin: 0 auto 1rem;
  height: 2.5rem;
  background: var(--c-2);
  border: 1px solid var(--c-3);
  border-radius: 6px;
}
.window__navigation-item {
  flex: 1;
  padding: 0 .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .65rem;
  font-weight: 500;
  height: 100%;
  border-radius: 6px;
}
.window__navigation-item.active {
  background: var(--c-3);
}
.window__navigation-item svg {
  font-size: 1rem;
  margin-right: .4rem;
  fill: var(--c-10);
}
.window-slider {
  height: calc(100% - 3.5rem);
}
.window__slider-item {
  display: none;
}
.window__slider-item.active {
  display: block;
}



.screen-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  color: var(--c-10);
}
.screen-title .d-arrow {
  font-size: 1.8rem;
  margin: 0 .4rem;
  transform: rotate(90deg);
}
.screen-title .d-arrow:last-child {
  transform: rotate(90deg) scaleY(-1);
}



.nav {
  position: fixed;
  left: 0;  
  bottom: 1.3rem;
  width: 100%;
  display: flex;
  padding: 0 1rem;
  gap: calc(1 * var(--index));
}
.nav.hidden {
  display: none;
}
.nav-button {
  position: relative;
  padding: .4rem 0;
  flex: 1;
  font-size: calc(2.8 * var(--index));
  height: 100%;
  color: #fff;
  cursor: pointer;
  transition: none;
}
.nav-button.hidden {
  display: none;
}
.nav-button.active {
  transition: all .1s ease-out;
  background: #00985ee9;
}
.nav-button.active::before {
  background: linear-gradient(133deg, #f6c877 0%, #f6f2a0 50%, #99834f 100%);
}
.nav-button-icon {
  width: 2.2rem;
  position: relative;
  z-index: 1;
  margin-top: .2rem
}
.nav-button-text {
  font-size: calc(1.2 * var(--index));
  font-weight: 600;
  margin-top: .6rem;
  position: relative;
  z-index: 1;
  transform: scaleY(.9);
}
.nav-button:active {
  background: #297238;
}







.energy-icon {
  width: 1rem;
  aspect-ratio: 1/1;
  background: #fff;
  margin-right: .2rem;
  mask-image: url(./assets/flash-thunder-svgrepo-com.svg);
  -webkit-mask-image: url(./assets/flash-thunder-svgrepo-com.svg);
}










.coin {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35dvh;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
.coin-image, .coin-image::before {
  background-image: url(./assets/image/coin.png);
  background-size: contain;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.coin-image::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  filter: drop-shadow(40px 50px 40px rgba(250, 240, 61, 0.26)) drop-shadow(0px 0px 5px rgba(64, 53, 38, 0.345));
  animation: coinBlink 10s linear infinite alternate-reverse;
}
@keyframes coinBlink {
  0% {
    opacity: 76%;
  }
  20% {
    opacity: 48%;
  }
  50% {
    opacity: 88%;
  }
  60% {
    opacity: 52%;
  }
  100% {
    opacity: 76%;
  }
}
.coin-multiplier {
  position: absolute;
  transition: transform 1s, opacity 1s ease-out;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(.8);
  will-change: transform, opacity;
}

.score {
  position: fixed;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
}
.score__content {
  position: relative;
  font-size: 1.9rem;
  font-weight: 600;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding-right: .4rem;
}
.score__conversion {
  position: absolute;
  font-size: .65rem;
  font-weight: 300;
  right: 0;
  top: 0;
  transform: translate(100%, -50%);
}

.score__icon {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-right: 0.6rem;
}

.rank {
  font-size: .8rem;
  font-weight: 400;
  text-align: center;
  margin-top: .4rem;
  white-space: nowrap;
  opacity: .7;
}

.energy {
  position: fixed;
  bottom: 8.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 56%;
  max-width: 16rem;
}

.energy-score {
  text-align: center;
  width: 100%;
  margin-bottom: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.energy-icon {
  background: var(--c-10);
}

.energy-bar {
  width: 100%;
  height: 1.3rem;
  background: #fff;
  border-radius: 6px;
  background: #202f27;
}
.energy-bar-fill {
  height: 100%;
  background: #e3a729;
  border: 2px solid #31483c;
  border-radius: 6px;
}




.item {
  position: relative;
  width: 100%;
  display: flex;
  padding: .65rem .8rem;
  margin-bottom: .8rem;
}
.item__logo {
  width: 3.8rem;
  min-width: 3.8rem;
  padding: .5rem .6rem;
  background: rgba(255, 255, 255, 0.181);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.item__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.item__text {
  font-weight: 300;
  width: 100%;
}
.item__title {
  font-size: .65rem;
  font-weight: normal;
  text-align: start;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
.item__reward {
  font-size: .6rem;
  font-weight: 300;
  margin-top: 0.2rem;
}
.item__reward .coin-icon {
  margin: 0 .1rem 0 .2rem;
}
.item__progress-bar-container {
  width: calc(100% - 2rem);
  height: 6px;
  background: var(--c-2);
  border-radius: 3px;
  margin-top: .5rem;
  border: 1px solid var(--c-3);
}
.item__progress-bar {
  height: 100%;
  background: var(--c-10);
  border-radius: 3px;
}
.item__button {
  width: max-content;
  min-width: 5.4rem;
  margin-left: auto;
  margin-right: 0.6rem;
}
.item__button button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .6rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  padding: .65rem .8rem;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #fff inset;
  outline: none;
  color: #fff;
  opacity: 1;
}















.boost {
  position: relative;
  padding: .65rem .8rem;
  margin-bottom: .8rem;
  width: 100%;
}
.daily-boosts {
  display: flex;
  align-items: stretch;
  gap: .8rem;
  max-width: 100%;
}
.daily-boosts .boost {
  padding: .8rem .6rem;
  max-width: calc(50% - .4rem);
}
.daily-boosts .item__logo {
  width: 2.5rem;
  min-width: 2.5rem;
  padding: .3rem .4rem;
  margin-right: .7rem;
}
.daily-boosts .arrow {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}
.daily-boosts .boost__title {
  white-space: nowrap;
}
.update-boost-daily {
  font-weight: 700;
  background: var(--c-10);
  background-clip: text;
  color: transparent;
}
.boost__list {
  margin-bottom: 1rem;
}
.boost__description {
  font-size: .6rem;
}
.boost__info {
  display: flex;
  margin-top: .35rem;
  font-size: .8rem;
}
.boost__price {
  display: flex;
  margin-right: 0.7rem;
  font-weight: 500;
}
.boost__price .coin-icon {
  margin-right: .3rem;
}
.boost__level {
  color: var(--c-10);
}


.boost__max {
  margin: 0 auto;
}

.stats p {
  margin: .4rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.update-boost-window {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: #0000005b;
}
.update-boost-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .8rem;
  font-weight: 500;
  padding: 2rem 2.3rem 2.5rem;
  background: linear-gradient(123deg, #2c3a3a 0%, #152320 100%);
  border-radius: 1rem 1rem 0 0;
  animation: showUpdate .2s ease-out;
}
@keyframes showUpdate {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
.update-boost-container span {
  color: #e1ac3a;
}
.update-boost-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  margin-bottom: 2rem;
  background: var(--o-2);
  border: 1px solid #31483c;
  border-radius: 8px;
}
.update-boost-icon img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}
.update-boost-title {
  font-size: 1.4rem;
  margin-bottom: .7rem;
  text-align: center;
  text-transform: uppercase;
  opacity: .9;
}
.update-boost-description {
  text-align: center;
  line-height: 1.3rem;
  padding: 0 .4rem;
  margin-bottom: 1.2rem;
}
.update-boost-avialable {
  text-align: center;
  margin-bottom: 2rem;
}
.update-boost-price-container {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.update-boost-price-container .x-div {
  margin: 0 1rem;
  opacity: .4;
}
.update-boost-price {
  display: flex;
  align-items: center;
}
.update-boost-price .coin-icon {
  margin-right: .4rem;
}

.update-boost-button {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.update-boost-button .coin-icon {
  margin-right: .3rem;
  transform: translateY(-6%);
}










.ref .window__content {
  padding-top: 1.6rem;
}

.ref__block {
  display: flex;
  padding: 1.4rem 1.3rem;
  justify-content: space-between;
}
.ref__block-title {
  font-size: .9rem;
}
.ref__block-link {
  font-size: .7rem;
  opacity: .6;
  margin-top: .6rem;
}
.ref__block-button {
  margin-top: .6rem;
  padding: .8rem 1rem;
}
.ref__block-image {
  width: 6rem;
  height: 6rem;
}
.ref__block-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ref__p {
  margin-top: 1.2rem;
  font-size: .6rem;
  line-height: 1.1rem;
  padding-left: 1.4rem;
}
.ref__p span, .ref__stats h3 span {
  color: var(--c-10);
}
.ref__stats {
  margin: 1.4rem 0;
  display: flex;
  padding-left: 1.4rem;
}
.ref__stat {
  margin-right: 2rem;
}
.ref__stat h3 {
  display: inline-block;
  font-size: .8rem;
  font-weight: 500;
}
.ref__stat-number {
  margin-top: .5rem;
  font-size: 2rem;
}